.carte-accueil-velo {
    display: block;
    position: relative;
    /*border: #000 solid 1px;*/
    width: 245px;
    height: 315px;
    border-radius: 14px;
    
    .caps-accueil{
        text-transform: uppercase;
        font-weight: 700;
        color: $color-texte-clair;
        font-size: 20px;

        position: absolute;
        margin: 0 auto;
        z-index: 1; /*Permet au text de s'afficher au dessus de l'image*/
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translate(0,-50%);
    }

    img {
        border-radius: 14px;
        filter: brightness(60%);
        max-width: 100%;
    }
}

.accueil-velo {
    max-width: 100% ;
    font-family: Arial, Helvetica, sans-serif;
    h2{
        font-size: 32px;
        font-weight: 500;
    }
}
