
/*Cartel accueil vélo*/
.carte-accueil-velo {
    /*border: #000 solid 1px;*/

    display: block;
    position: relative;
    width: 245px;
    height: 315px;
    border-radius: 14px;
    
    .caps-accueil{
        text-transform: uppercase;
        font-weight: 600;
        color: $color-texte-clair;
        font-size: 20px;

        position: absolute;
        margin: 0 auto;
        z-index: 1; /*Permet au text de s'afficher au dessus de l'image*/
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translate(0,-50%);
    }

    img {
        border-radius: 14px;
        filter: brightness(50%) blur(1px);
        max-width: 100%;
    }
}

/*Cartel actualité court*/
.cartel-actu-court {
    /*border: #000 solid 1px;*/
    background-color: #fff;
    max-width: 335px;
    max-height: 400px;
    height: auto;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    display: block;
    position: relative;
    img {
        border-radius: 14px;
        max-width: 100%;
    }
    .text-actu {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;


        h6 {
            font-size: 16px;
        }
        .date-actu {
            font-size: 14px;
        }
        .contenu-actu {
            font-size: 12px;
            text-align: justify;
        }
    }
}

.cartel-actu-long {
    /*border: 1px #000 solid;*/

    max-width: 100%;/*Peut être changé compte tenu de la grille*/
    border-radius: 14px;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    img {
        border-radius: 14px;
        max-width: 350px;
        max-height: auto;
    }
    .text-actu {

        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #fff;
        border-radius: 14px 14px 14px 14px;

        h6 {
            font-size: 18px;
        }
        .date-actu {
            font-size: 16px;
        }
        .contenu-actu {
            font-size: 14px;
            text-align: auto;
        }
        .lien-article {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
            a {
                text-transform: uppercase;
                color: $color-texte-fonce;
                border-bottom: 4px solid $rose;
                text-decoration: none;
            }
        }
    }
}


.grid-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 100px 8% 150px 8%;
}

.cartel-avis {
    /*border: 1px solid #000;*/
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    max-width: 335px;
    max-height: 220px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    .nom-note {
        display: flex;
        justify-content: space-between;
    }
    .nom-avis {
        font-size: 18px;
    }
    .contenu {
        font-size: 14px;
        text-align: justify;
    }
}

@media screen and (max-width: 700px) {
    .range-cartels {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 2%;
        /*max-width: max-content;
        max-height: max-content;
        margin: 0 auto;*/
        .cartel-actu-court {
            max-width: 300px;
            margin: 0 auto;
        }
      }
    .cta-ombre {
        margin: 0 auto;
    }

    .quatre-cartels-accueil {
        display: flex;
        flex-direction: column;
        .carte-accueil-velo {
            max-width: 300px;
            margin: 0 auto;
        }
    }
    .text-page2 {
        .text-page-pres {
            font-size: 14px;
        }
        h2 {
            font-size: 18px;
        }
    }
    .cartel-actu-long {
        display: flex;
        flex-direction: column;
        .text-actu {
            padding: 10px;
            z-index: 2;
        }
        .img {
            max-width: 200px;
        }
    }
    .grid-article {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        margin: 100px 8% 150px 8%;
    }
}
