.accueil-velo {
    max-width: 100% ;
    font-family: Arial, Helvetica, sans-serif;
    h2{
        font-size: 32px;
        font-weight: 500;
    }
}


.carte-accueil-velo {
    border: #000 solid 1px ;
}
