
/*Grille de la section vélo*/
.accueil-velo {
    display: grid;
    grid-column: (auto, 12);
    margin: 0 10%;
    gap: 20px;
}


/*Cartel accueil vélo*/
.carte-accueil-velo {
    display: block;
    position: relative;
    /*border: #000 solid 1px;*/
    width: 245px;
    height: 315px;
    border-radius: 14px;
    
    .caps-accueil{
        text-transform: uppercase;
        font-weight: 600;
        color: $color-texte-clair;
        font-size: 20px;

        position: absolute;
        margin: 0 auto;
        z-index: 1; /*Permet au text de s'afficher au dessus de l'image*/
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translate(0,-50%);
    }

    img {
        border-radius: 14px;
        filter: brightness(60%);
        max-width: 100%;
    }
}

/*Cartel actualité court*/
.cartel-actu-court {
    /*border: #000 solid 1px;*/
    max-width: 334px;
    height: auto;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    display: block;
    position: relative;
    img {
        border-radius: 14px;
        max-width: 100%;
    }
    .text-actu {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;


        h6 {
            font-size: 16px;
        }
        .date-actu {
            font-size: 14px;
        }
        .contenu-actu {
            font-size: 12px;
            text-align: justify;
        }
    }
}

.cartel-actu-long {
    border: 1px #000 solid;
    max-width: 100%;
    border-radius: 14px;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    img {
        border-radius: 14px;
        max-width: 100%;
    }
    .text-actu {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;


        h6 {
            font-size: 18px;
        }
        .date-actu {
            font-size: 16px;
        }
        .contenu-actu {
            font-size: 14px;
            text-align: justify;
        }
        .lien-article {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
            a {
                text-transform: uppercase;
                color: $color-texte-fonce;
                border-bottom: 4px solid $rose;
                text-decoration: none;
            }
        }
    }
}