nav {
    display: flex;
    align-items: center;
    ul {
        display: flex;

        gap: 20px;
        li {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }
    }
    .liens {
        display: flex;
        display: none;
    }

    .logos {
        display: flex;
        gap: 10px;
    }

    .img1 {
        width: 130px;
        height: 50px;
    }
}

@media screen and (max-width: 615px) {
    nav { 
        ul.open {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 50px;
            z-index: 1001;
            background-color: rgba(0, 0, 0,0.9);
            display: flex;
            flex-direction: column;
            text-align: center;
            
        }
        .liens.open {
           
            bottom: 10px;
            left: 0;
            right: 0;
            z-index: 1001;
            display: flex;
            flex-direction: row;
            gap: 20px;
            text-align: center;
            color: $color-texte-clair;
            
        }
       
        ul li {
            display: none;
            a{
            color: $color-texte-clair;}
        }
        .logos {
            align-items: center;
        }
        #burger {
            padding-left: 0;
        }
        ul.open li {
            display: block;
        }

        #burger {
            width: 30px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: relative;
            left: 2px;
        }

        #burger::before,
        #burger::after {
            content: "";
            width: 30px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: absolute;
            transform-origin: center;
            transition: all 0.3s ease;
        }

        #burger::before {
            top: -7px;
        }

        #burger::after {
            top: 7px;
        }

        #burger.open {
            background: rgb(0, 0, 0); /* la barre du milieu disparait */
        }
        /* celles du haut et du bas s'inclinent pour former une croix */
        #burger.open::before {
            transform: rotate(45deg);
            top: 0;
            background-color:white ;
        }
        #burger.open::after {
            transform: rotate(-45deg);
            top: 0;
            background-color: white;
        }
    }
}
