nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1001;
    background-color: white;
    width: 100%;
    ul {
        display: flex;

        gap: 20px;
        li {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                color: black;
                font-size: 20px;
                text-decoration: underline pink;

                text-decoration: none;
                position: relative;

                ::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: 50% 50%;
                    width: 100%;
                    height: 1px;
                    
                    transition: transform 450ms;
                }

                :hover {
                    ::after {
                        transform: translateX(-50%) scaleX(1);
                        border-bottom:$rose 1px solid;
                    }
                }
            }
        }
    }

    .liens {
        display: flex;
        display: none;
    }

    .logos {
        display: flex;
        gap: 10px;
    }

    .img1 {
        width: 130px;
        height: 50px;
    }
}

@media screen and (max-width: 675px) {
    nav {
        ul.open {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 50px;
            z-index: 1001;
            background-color: rgba(0, 0, 0, 0.95);
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 90px;
        }
        .liens.open {
            display: flex;
            gap: 70px;
            color: $color-texte-clair;
            justify-content: center;
            

            a {
                font-size: 60px;
            }
        }

        ul li {
            display: none;
            a {
                color: $color-texte-clair;
            }
        }
        .logos {
            align-items: center;
        }
        ul.open li {
            display: block;
        }

        #burger {
            width: 30px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: relative;
            left: 2px;
        }

        #burger::before,
        #burger::after {
            content: "";
            width: 30px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: absolute;
            transform-origin: center;
            transition: all 0.3s ease;
        }

        #burger::before {
            top: -7px;
        }

        #burger::after {
            top: 7px;
        }

        #burger.open {
            background: rgba(0, 0, 0, 0); /* la barre du milieu disparait */
        }
        /* celles du haut et du bas s'inclinent pour former une croix */
        #burger.open::before {
            transform: rotate(45deg);
            top: 0;
            background-color: white;
        }
        #burger.open::after {
            transform: rotate(-45deg);
            top: 0;
            background-color: white;
        }
    }
}
