
#slidy-container {
    position: relative;
    font-size: calc(3vmin + 10px);
    
}
.titre-haut {
    
    position: absolute;
    display:block;
    top: 30%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: $color-texte-clair;
    transform: translate(0,0);
    font-size: 1,4em;
}
.titre-bas {
    position: absolute;
    display:block;
    width: 100%;
    color: white;
    font-weight: 500;
    transform: translate(0,0);
    font-size: 60%;
}
.field{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

}
.adress1 {
    width:300px;
    height: 50px;
    font-size: medium;
}
.adress2 {
    width:300px;
    height: 50px; 
    font-size: medium;

}
.button-calcul {
    width:300px;
    height: 56px;
    border: none;
    font-size: medium;
    border-radius: 10px;
    background-color:$rose;
    color:$color-texte-fonce;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



.text-page2 {
    border: 3px solid rebeccapurple;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction:column;
    max-width: 600px;
    height: min-content;
    gap: 30px;
    p {
        font-size: 18px;
    }

}
.container-page2{ 
  
    padding: 2%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.4em;
    line-height: 130%;
    margin: 0 auto;
    .map-page2{
        img{
            width: 100%;
        }
    }
}



.button-lien {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .img-itineraire{
      position: relative;
  }
  .titre-itineraire{
    position: absolute;
    top: 50%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: $color-texte-clair;
    transform: translate(0,0);
    font-size: 35px;
  }
/*------- media query page slider -----*/

@media screen and (max-width: 675px)  {
    .field {
        .input {
            display: none;
        }
    }
    .titre-haut {
        position: absolute;
        display:block;
        top: 20%;
        bottom: 300px;
        text-align: center;
        color: white;
        transform: translate(0,0);
    }
    .titre-bas {
        position: absolute;
        display:block;
        width: 100%;
        color: white;
        transform: translate(0,0);
    }   
}

@media screen and (max-width: 675px)  {
    .container-page2 {
        display: flex;
        flex-direction:column-reverse;
        max-width: 80%;
        gap: 20px;
        .input {
            opacity: 0;
        }
    }
    .text-page2 {
        line-height: 100%;
        p {
            font-size: 14px;
        }
    }
}
.button-lien {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   
  }
  
    