#slidy-container {
    position: relative;
}
.titre-haut {
    position: absolute;
    display:block;
    top: 35%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: white;
    transform: translate(0,0);
    font-size: 60px;
}
.titre-bas {
    position: absolute;
    display:block;
    width: 100%;
    color: white;
    transform: translate(0,0);
    font-size: 30px;
}
.field{
    position: absolute;
    top: 50%;
    
}