
#slidy-container {
    position: relative;
    
}
.titre-haut {
    position: absolute;
    display:block;
    top: 35%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: white;
    transform: translate(0,0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
}
.titre-bas {
    position: absolute;
    display:block;
    width: 100%;
    color: white;
    transform: translate(0,0);
    font-size: 60%;
    font-family: serif;
}
.field{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

}
.adress1 {
    width:300px;
    height: 50px;
}
.adress2 {
    width:300px;
    height: 50px; 

}
.button-calcul {
    width:300px;
    height: 50px;
    background-color:rgb(5, 86, 102);
    color:white
}
.text-page2 {
    display: flex;
    flex-direction:column;
    width: 600px;
    height: 800px;
    gap: 10%;

}
.container-page2{ 

    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 200%;
    font-family: serif;
}

.container-page2{ 
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 200%;
    font-family: serif;
}
/*------- media query page slider -----*/

@media screen and (max-width: 675px)  {
    .titre-haut {
        position: absolute;
        display:block;
        top: 5%;
        bottom: 300px;
        width: 100%;
        text-align: center;
        color: white;
        transform: translate(0,0);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 90px;
    }
    .titre-bas {
        position: absolute;
        display:block;
        width: 100%;
        color: white;
        transform: translate(0,0);
        font-size: 20%;
        font-family: serif;
    }   
}

@media screen and (max-width: 675px)  {
.container-page2 {
    display: flex;
    flex-direction:column-reverse;
}
}
.button-lien {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .button-lien {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .button-lien:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }
  @media screen and (max-width: 675px) {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }