
#slidy-container {
    position: relative;
    font-size: calc(3vmin + 10px);
    
}
.titre-haut {
    position: absolute;
    display:block;
    top: 30%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: $color-texte-clair;
    transform: translate(0,0);
    font-size: 1,4em;
}
.titre-bas {
    position: absolute;
    display:block;
    width: 100%;
    color: white;
    font-weight: 500;
    transform: translate(0,0);
    font-size: 60%;
}
.field{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

}
.adress1 {
    width:300px;
    height: 50px;
    font-size: medium;
}
.adress2 {
    width:300px;
    height: 50px; 
    font-size: medium;

}
.button-calcul {
    width:300px;
    height: 56px;
    border: none;
    font-size: medium;
    border-radius: 6px;
    background-color:$rose;
    color:$color-texte-fonce;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

}



.text-page2 {
    display: flex;
    flex-direction:column;
    max-width: 600px;
    height: 680px;
    gap: 30px;

}
.container-page2{ 
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.4em;
    line-height: 130%;
    margin: 2% auto;
}

.container-page2{ 
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.button-lien {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .img-itineraire{
      position: relative;
  }
  .titre-itineraire{
    position: absolute;
    top: 50%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: $color-texte-clair;
    transform: translate(0,0);
    font-size: 35px;
  }
/*------- media query page slider -----*/

@media screen and (max-width: 675px)  {
    .titre-haut {
        position: absolute;
        display:block;
        top: 5%;
        bottom: 300px;
        width: 100%;
        text-align: center;
        color: white;
        transform: translate(0,0);
    }
    .titre-bas {
        position: absolute;
        display:block;
        width: 100%;
        color: white;
        transform: translate(0,0);
        font-family: Arial, Helvetica, sans-serif;
    }   
}

@media screen and (max-width: 675px)  {
.container-page2 {
    display: flex;
    flex-direction:column-reverse;
    max-width: 80%;
    gap: 20px;
}
}
.button-lien {
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
    