#slidy-container {
    position: relative;
}
.titre-haut {
    position: absolute;
    display:block;
    top: 35%;
    bottom: 300px;
    width: 100%;
    text-align: center;
    color: white;
    transform: translate(0,0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
}
.titre-bas {
    position: absolute;
    display:block;
    width: 100%;
    color: white;
    transform: translate(0,0);
    font-size: 60%;
    font-family: serif;
}
.field{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

}
.adress1 {
    width:300px;
    height: 50px;
}
.adress2 {
    width:300px;
    height: 50px; 

}
.button-calcul {
    width:300px;
    height: 50px;
    background-color:rgb(5, 86, 102);
    color:white
}
