.section-boutons {
    display: grid;
    grid-template-columns: auto;
    margin: 0 10%;
    grid-gap: 20px;
    cursor: pointer;
} /*grille pour disposer les élément, pas besoin de l'intégrer ailleurs*/

.cta {
    background-color: $rose;
    display: flex;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    max-width: 360px;
    cursor: pointer;
}

.cta-ombre {
    background-color: $rose;
    display: flex;
    width: 300px;
    height: 56px;
    border: none;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    cursor: pointer;
}