body { background: #fff }
#slidy-container { 
  width: 100%;
   margin: 0 auto;
   overflow-x:hidden;
}


/*Apparence des titres avec des points roses et des sous-titre en lorem*/
.titre-soustitre-pres {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 2%;
}

.titre-pres {
  display: flex;
  gap: 20px;
  i{
    color: $rose;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2{
    font-size: 32px;
    font-weight: 500;
  }
}

.accueil-velo {
  max-width: 100% ;
  font-family: Arial, Helvetica, sans-serif;
}


.accueil-velo {
  position: relative;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 2%;
  .quatre-cartels-accueil {
    margin-top: 40px;
    grid-column-start: 1;
    display: flex;
    gap: 20px;
}
}/*grille pour disposer les élément, pas besoin de l'intégrer ailleurs*/

.actu {
  position: relative;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 2%;
  
  .actu-img {
    /*background-image: url(https://media.eurovelo.com/images/2a/64/125_orig_cover1920.jpg);*/
    display: flex;
  flex-flow: column;
  align-items: center;
    .range-cartels {
      display: flex;
      gap: 20px;
      margin-bottom: 2%;
      /*max-width: max-content;
      max-height: max-content;
      margin: 0 auto;*/
    }
  }
}
.cta-ombre{
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    width: 100%;
    text-decoration: none;
    color: inherit;
  }
}

@media screen and (max-width:675px) {

  .accueil-velo{
    display: flex;
    flex-flow: column;
    align-items: center;
    .titre-soustitre-pres{
      width: 75%;
    }
  }
  .actu{
    display: flex;
    flex-flow: column;
    align-items: center;
    .titre-soustitre-pres{
      width: 75%;
    }
    .cta-ombre{
      margin: 10px 0;
    }
  }
}