body { background: #fff }
#slidy-container { 
  width: 100%;
   margin: 0 auto;
   overflow-x:hidden;
}


/*Apparence des titres avec des points roses et des sous-titre en lorem*/
.titre-soustitre-pres {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}
.titre-pres {
  display: flex;
  gap: 20px;
  i{
      color: $rose;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.accueil-velo {
  max-width: 100% ;
  font-family: Arial, Helvetica, sans-serif;
  h2{
      font-size: 32px;
      font-weight: 500;
  }
}