.navigation {
    width: 100%;
    height: 10vh;
}
body{
    height: 100vh;
    overflow: hidden;
}

#pageItineraire {
    display: flex;
    section {
        width: 50%;
        height: 90vh;
        overflow-y: scroll;
        figure{
            width: 20%;
        }
    }

    #map {
        width: 50%;
    }
}