.ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: rgb(252, 249, 249);
    height: auto;
    max-width: 1400px;
    margin: 90px auto;
    padding: 10px;
    article{
        
        border: 1px solid black;
        border-radius: 15px;
        overflow: hidden;

    }
    

    .boutontab {
        max-width: 170px;
        height: 40px;
        float: right;
        background-color: rgb(252, 249, 249);
        border: none;
        text-decoration:underline pink 3px ;
    }
    .imgtab {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .notation-avis {
        /*border: 1px solid #000;*/
        border-radius: 14px;
        max-width: 335px;
        max-height: 220px;
        padding: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        float: right;
        border: 1px solid black;
    }
    p {
        margin-top: 4%;
        text-align: center;
    }
    ul {
        li {
            color: rgb(213, 160, 37);
        }
    }
    .toto {
        padding: 1%;
    }
}
@media screen and (max-width: 800px) {
    .ui {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding:10px;
    }
}
@media screen and (max-width: 550px) {
    .ui {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding:10px ;
    }
}
