$main-blue:#003399;
$secondary-blue:#00246B;
$gris: #A7A9AC;
$jaune:#EFD51F;
$rose:#E5B9B5;

$color-texte-fonce : #231F20;
$color-texte-clair: #fff;

$vert-facile:#52BE80;
$bleu-moyen:#246DFF;
$rouge-difficile:#E74C3C;


