$main-blue:#003399;
$secondary-blue:#00246B;
$gris: #A7A9AC;
$jaune:#EFD51F;
$rose:#e5b9d5;

$color-texte-fonce : #231F20;
$color-texte-clair: #fff;

$vert-facile:#52BE80;
$bleu-moyen:#246DFF;
$rouge-difficile:#E74C3C;

$teal: rgb(5, 86, 102); /*Couleur que medhi à suggeré pour le bouton calcul d'itinéraire*/


@font-face {
    font-family: 'frutigerbold';
    src: url('../font-face/ftb-webfont.woff2') format('woff2'),
         url('../font-face/ftb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerlight_cn';
    src: url('../font-face/ftlc-webfont.woff2') format('woff2'),
         url('../font-face/ftlc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerultra_black';
    src: url('../font-face/ftubl-webfont.woff2') format('woff2'),
         url('../font-face/ftubl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-family: 'frutigerbold';
}

* {
    font-family: Arial, Helvetica, sans-serif;
}