$main-blue:#003399;
$secondary-blue:#00246B;
$gris: #A7A9AC;
$jaune:#EFD51F;
$rose:#E5B9B5;

$color-texte-fonce : #231F20;
$color-texte-clair: #fff;

$vert-facile:#52BE80;
$bleu-moyen:#246DFF;
$rouge-difficile:#E74C3C;


@font-face {
    font-family: 'frutigerbold';
    src: url('.../font-face/ftb-webfont.woff2') format('woff2'),
         url('.../font-face/ftb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerlight_cn';
    src: url('.../font-face/ftlc-webfont.woff2') format('woff2'),
         url('.../font-face/ftlc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerultra_black';
    src: url('.../font-face/ftubl-webfont.woff2') format('woff2'),
         url('.../font-face/ftubl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

